* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  max-width: 1000px;
  background-color: rgb(239, 239, 240);
}

header {
  height: 20%;
  min-height: 200px;
  padding: 2rem;
  /* background-color: rgb(138, 144, 190); */
  background-image: url("img/undraw_collecting_fjjl.svg");
  background-size: 20%;
  background-position: right 20px bottom 10px;
  background-repeat: no-repeat;
  background-color: rgb(123, 128, 167);
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  color: rgb(214, 219, 228);
  text-shadow: 1px 1px 2px #555;
}

section {
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
}

p  {
  margin: 20px 0 40px;
  font-size: 24px;
  font-weight: 100;
}
iframe {
  width: 100%;
}



